 <div class="card" style="width: 780px; height: 800px;">
    <img class="card-img-top" [src]="" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">
        {{detailDto.title}}
      </h5>
      <p class="card-text">
        {{detailDto.questionDescription}}    
    </p>
    </div>
    <ul  class="list-group list-group-flush" >
      <li class="list-group-item"*ngFor="let comment of detailDto.comment">
        {{comment.theComment}}
      </li>
      <li class="list-group-item">
       
      </li>
      <li class="list-group-item">Vestibulum at eros</li>
      <button type="button" class="btn btn-info" style="margin-left:620px;">Yorum Yap</button>

    </ul>
    <div class="card-body">
      <!-- <a href="#" class="card-link">Card link</a> -->
    </div>
  </div> 
 

