 <!-- <div class="card" style="width: 780px; height: 800px;">
  <div style="font-size: 35px;">
    {{detailDto.lastName}}
    {{detailDto.firstName}}
  </div>
  <div style="font-size: 20px; ;"
  >
  eklendiği tarih:
  {{detailDto.date}}
</div>

   


   
    <img class="card-img-top" *ngFor="let image of detailDto?.questionImage" [src]="apiUrl+image.imagePath  " alt="Card image cap">

  
    <div class="card-body">
      <h5 class="card-title">

      
        <li>
        {{detailDto?.title}}
           
        </li>
      </h5>
      <p class="card-text">
        {{detailDto?.questionDescription}}    
    </p>
    </div>
    <ul  class="list-group list-group-flush" >
      <li class="list-group-item"*ngFor="let comment of detailDto.comment">
        {{comment.theComment}}
      </li>
      <li class="list-group-item">
       
      </li>
      <li class="list-group-item">Vestibulum at eros</li>
      <button type="button" class="btn btn-info" style="margin-left:620px;">Yorum Yap</button>

    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
    </div>
  </div> 
 
 -->
