
<div class="content" >
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"><h5 class="title">Konu Ekle</h5></div>
        <div class="card-body">
          <form [formGroup]="categoryAddForm">
            <div class="mb-3">
              <label for="categoryName">Kategori Adı</label>
              <div class="form-group">
                <input
                  type="text"
                  id="categoryName"
                  formControlName="categoryName"
                  class="form-control"
                  placeholder="Kategori Adı"
                />
              </div>
            </div>
  
            <!-- <div class="mb-3">
              <label for="categoryId">Kategori Numarası</label>
                <div class="form-group">
                  <input
                    type="number"
                    id="categoryId"
                    formControlName="categoryId"
                    class="form-control"
                    placeholder="Kategori"
                  />
                </div>
            </div>
               -->
            
          
          </form>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-success" (click)="add()">Ekle</button>
          
        </div>
      </div>
    </div>
  </div>
  
  
  
  