

<!-- this form is for comment -->

<div class="answer-card card mb-5">
  <!-- Card header -->
  <div class="card-header forum-card-img-30 d-flex justify-content-between border-0">
    <p class="pt-2 mb-0">
      <img src="https://s.gravatar.com/avatar/4cf642822dc5caf650facd79b8f64a95?s=96&amp;d=mm&amp;r=g" alt="" class="rounded-circle mr-2">
      <strong><a href="https://mdbootstrap.com/support/?user=15082/" target="_blank">Marta Wierzbicka</a></strong>
      <span class="badge badge-primary mx-1">staff</span>
        <span title="4/27/2018, 9:05:25 AM">answered 4 years ago</span>
    </p>
    <div>
      
        <a href="#" type="button" class="btn btn-success btn-sm px-2 waves-effect show_login">
          <span class="value">
            4
          </span>
          <i class="fas fa-thumbs-up ml-1"></i>
        </a>
        <a href="#" type="button" class="btn btn-danger btn-sm px-2 waves-effect show_login">
          <span class="value">
            0
          </span>
          <i class="fas fa-thumbs-down ml-1"></i>
        </a>
      
      
        <a href="javascript:void(0)" type="button" class="btn btn-secondary btn-sm px-2 waves-effect is-hidden">
          Best answer
          <i class="fas fa-check ml-1"></i>
        </a>
      
    </div>
  </div>

  <hr class="m-0">

  <div class="card-body answer-form-item is-hidden">
    <!-- Default form reply -->
    <form data-answer-id="57061" class="needs-validation edit-answer-form" novalidate="">
      Answer
    
    </form>
    <!-- Default form reply -->
  </div>
  <!--Card content-->
  <div class="card-body answer-form-item">
    Hi,

no, we don't have any support template in our offer.

Best,

Marta
    
      <hr>
    
    <!-- Comments -->
    <div class="comment-card ml-5">
      
      
      
        
        <div class="form-group mb-0">
          
            <a href="#" class="btn btn-primary btn-sm ml-0 comment-form-toggle show_login waves-effect waves-light">Add comment</a>
          
        </div>
      
    </div>
    <!-- Comments -->
  </div>
  
</div>