<!-- <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Kategori Numarası</th>
        <th scope="col">Kategori Adı</th>
       
      </tr>
    </thead>
    <tbody *ngFor="let category of categories">
      <tr>
        

        <td>
            {{category.id }}
        </td>

        <td style="font-style: italic;">
            {{category.categoryName }}
        </td>
        
      </tr>
      
    </tbody>
  </table>
   -->
  <div class="list-group">
    <tbody *ngFor="let category of categories">
    <a href="#" class="list-group-item list-group-item-action">
        {{category.categoryName}}
    </a>

    </tbody>
    <button type="button" class="btn btn-warning" style="width:120px ; margin:30px ;" routerLink="add">Kategori Ekle</button>
  </div>