<!-- <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Kategori Numarası</th>
        <th scope="col">Kategori Adı</th>
       
      </tr>
    </thead>
    <tbody *ngFor="let category of categories">
      <tr>
        

        <td>
            {{category.id }}
        </td>

        <td style="font-style: italic;">
            {{category.categoryName }}
        </td>
        
      </tr>
      
    </tbody>
  </table>
   -->
   <ul></ul>
  <div class="list-group" style="margin-right:250px ;">
    <ul>
      <tbody >
        <a  *ngFor="let category of categories" routerLink="/question/detail/{{category.categoryId}}" class="list-group-item list-group-item-action">
            {{category.categoryName}}
        </a>
    <button type="button" class="btn btn-warning" style="width:120px ; margin-left: 580px; margin-top:20px ;" routerLink="add">Kategori Ekle</button>
        
        </tbody>
    </ul>
    

  </div>